body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0b1b2a;
  color: #f5c96b;
  
}

/* Barre de navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  top: 0;
  left: 0;
  width: 88%;
}

.logo img {

  width: 100px;
  height: auto;
}

.logoProduit {
  display: flex;              /* pour centrer facilement */
  justify-content: center;    /* centre horizontalement */
  margin-top: 20px;           /* espace entre le texte et le logo */
}


.logoProduit img {
  width: 150px;               /* ajuste la taille du logo */
  height: auto;               /* garde les proportions naturelles */
}


.logoProduit img {
  width: 270px;               /* ajuste la taille du logo */
  height: auto;               /* garde les proportions naturelles */
}

nav ul {
  list-style: none;
  display: flex;
  gap: 90px;
  margin: 0;
  padding: 0;
  position: relative; top: -20px;
  position: relative; right: -90px;
} 

nav a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Mise en page principale */
main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 80vh;
}

.left h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.55;
}


h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  color: #f5d77b;
}
p {
  font-size: 1rem;
  line-height: 1.6;
}

.center h2 {
  font-size: 2rem;
  font-weight: bold;
  position: relative; top: -70px;
}

.placeholder {
  margin-top: 20px;
  color: #fff;
  font-style: italic;
}

.right {
  font-size: 1.2rem;
  line-height: 1.5;
}

.right strong {
  color: #ffd87a;
}

/* Responsive (pour téléphones) */
@media (max-width: 900px) {
  main {
    flex-direction: column;
    gap: 40px;
  }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); } /* agrandit un peu */
  100% { transform: scale(1); }
}

.logoProduit:hover {
  animation: pulse 1s infinite ease-in-out;
  transition: transform 0.3s ease;
}
